@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=PT+Serif:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head{
    padding: 2rem;
    color: rgb(84, 23, 23);
    text-align: center;
    font-family: 'PT Serif', serif;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(238, 89, 89));;
}
.data{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,0.053117782909930744) 5%, rgba(0,212,255,1) 100%);
    width: 26%;
    color: rgb(26, 59, 67);
    margin: 10px auto;
    text-align: center;
    padding: 1rem;
    border-radius: 24px;
}

.alert{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

.btn{
    margin:2rem 2rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 24px;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,0.053117782909930744) 5%, rgba(0,212,255,1) 100%);
}

.btn:hover{
    transform: scale(1.1);
    transition: 1s;
}